
@model IEnumerable<ProductDTO>

@{
    ViewData["Title"] = "Admin page";
}

<body>
    <p>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="BasicForm">Add new product</a>
    </p>
    <table class="table" style="background-color:aliceblue">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsLimited)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountLimited)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PictureLink)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsLimited)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountLimited)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PictureLink)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "BasicForm", new { item.Id }) |
                        @Html.ActionLink("Details", "Details", new { item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
