
@model IEnumerable<ProductDTO>
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Milena Embroidery Shop</h1>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        if (product.IsShown)
        {
            <div class="col-md-4 text-center">
                <form id="productForm" asp-action="AddOrder" asp-controller="Product">
                    <input asp-for="@product.Id" hidden />
                    <input asp-for="@product.Name" hidden />
                    <input asp-for="@product.Price" hidden />
                    <input asp-for="@product.CountLimited" hidden />
                    <img src="@product.PictureLink" width="300" height="300" />
                    <div>
                        <span style="font-size: 250%"><b>@product.Name</b></span>
                    </div>
                    <div>
                        <span>Price: @product.Price PLN</span>
                    </div>
                    @if (product.IsLimited)
                    {
                        <span>Remaining: @product.CountLimited</span>
                        <br />
                    }
                    <input type="submit" value="[ ADD TO BASKET ]" />
                </form>
            </div>
        }
    }
</div>
